* {
    margin: 0;
    padding: 0;
}
:root {
    --lightgray: lightgray;
    --black: black;
}

section.container {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 0.1rem solid var(--black);
    width: 10%;
    min-height: 100vh;
    margin-right: 3rem;
}

nav>a {
    text-align: center;
    color: var(--black);
    border: 0.1rem solid var(--black);
    padding: 1rem;
    margin-top: 1rem;

}

.current {
    font-weight: bold;
}

div.user {
    background-color: var(--lightgray);
    padding: 1rem;
    width: 10rem;
    margin: 2rem 0rem 2rem 0rem;
    border-radius: 0.5rem;
}

input.search {
    padding: 0.5rem;
    margin: 1rem 0rem 0rem 0rem;
    border-radius: 5rem;
}

div.user, input.search {
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem;
    border: 0.1rem solid var(--black);
}